=stylesheet_link_tag 'kebapress/medium-editor.css'
=javascript_include_tag 'kebapress/medium-editor'

.container
  %h1 New Post
  = form_for @post, html: { id: "post-form" }, remote: true do |f|
    = f.hidden_field :title, html: { id: "title"}
    = f.hidden_field :body, html: { id: "body" }
    .title.editable{data: {field: {id: "title"}}}
    .body.editable{data: {field: {id: "body"}}}
    = f.submit

=javascript_include_tag 'kebapress/posts'
