=stylesheet_link_tag 'http://dfimg.com/medium-editor/dist/css/medium-editor.css'

.container
  %h1 New Post
  = form_for @post, html: { id: "post-form" }, remote: true do |f|
    = f.hidden_field :title, html: { id: "title"}
    = f.hidden_field :body, html: { id: "body" }
    .title.editable{data: {field: {id: "title"}}}
    .body.editable{data: {field: {id: "body"}}}
    = f.submit

%script{:type => "text/javascript",
        :src  => "http://dfimg.com/medium-editor/dist/js/medium-editor.js"}

:javascript
  var editor = new MediumEditor('.editable');

  $('.editable').bind('input propertychange', function() {
   $("#post_" + $(this).attr("data-field-id")).val($(this).html());
  });